.stock {
  .MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .MuiContainer-root .MuiBox-root {
    padding-top: 15px !important;
  }
}

.stockQuantityCount {
  border-right: 1px solid #CACACA;
}
