.inputStyle {
  width: 3rem !important;
  height: 4rem;
  margin: 1.5rem 0.3rem;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.activeInputStyle {
  border-bottom: 1px solid #DAAB59;
}

.MuiContainer-root {
  .MuiBox-root {
    padding-top: 30px !important;
  }

}

.MuiDialog-container {
  .MuiDialogContent-root {
    padding: 80px !important;
  }
}

.MuiDialog-paperWidthXs {
  padding: 60px 40px !important;
}




