.MuiBox-root {
  padding: 0.5rem !important;
  border-radius: .25rem !important;
}

.MuiBox-root-377 {
  padding: 0.5rem !important;
  border-radius: .25rem !important;
}

.MuiInput-underline:before {
  border-bottom: none !important;
}

.MuiOutlinedInput-root .Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }
}

.MuiInput-underline:after {
  border-bottom: none !important;
  background-color: #fff;
}
.MuiSelect-select:focus{
  background-color: rgba(255, 255, 255, 0) !important;
}

.pro-item {
  border-radius: 10px !important;
  min-height: 120px !important;

  img {
    height: 85px !important;
  }

  .pro-item-name {
    font-size: 12px !important;
    letter-spacing: 0.01em !important;
    line-height: 14px !important;
  }
}

.btnPCount{
  top: -17px;
  float: right;
  position: relative;
  right: -30px;
  color: #212529;
  background-color: #f8f9fa;
  padding: 0.30em .4em;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.optionAdd {
  .MuiTypography-body1 {
    font-size: 0.9rem !important;
  }

  .MuiFormControlLabel-root {
    margin-left: -4px !important;
  }
}

.addProducts {
  .MuiInputBase-input{
    text-align: center !important;
  }
}