.MuiDrawer-paper {
  background-color: #403C3C !important;
}
.drawerDefault {
  .MuiListItemIcon-root {
    min-width: 35px;
  }
  .MuiDivider-root {
    height: 1px !important;
    background-color: #98919187;
  }
  .MuiTypography-body1 {
    font-size: 1.2rem !important;
  }
  .MuiListItem-root {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .MuiDrawer-paper {
    background-color: #403C3C;
  }
  .ham-top-div {
    width: 100%;
    padding-top: 20px;
  }

  .ham-top-div-inner {
    width: 90px;
    height: 90px;
    text-align: center;
    border: 3px solid #daab59;
    background: #ffff;
    border-radius: 50%;
    padding: 5px;
    margin: 0px auto;
  }

  .white {
    color:#ffff !important;
    border-top: 1px solid #98919187;
    font-size: 19px !important;
    padding: 13px !important;
    text-decoration: none;
  }

  .white:hover {
    background-color: #403c3c !important;
  }

  .small {
    font-size: 12px;
    font-style: italic;
  }

  .medium {
    font-size: 17px;
  }

  .large {
    font-size: 17px;
  }
}
