body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  padding: 0 !important;
  width: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*global styles*/
.p-1 {
  padding: .25rem!important;
}

.mt-3, .my-3 {
  margin-top: 1rem!important;
}

.pt-3, .py-3 {
  padding-top: 1rem!important;
}

.pt-6, .py-6 {
  padding-top: 2rem!important;
}

.p-3 {
  padding: 1rem!important;
}

.m-2 {
  margin: .5rem!important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}

.mt-5, .my-5 {
  margin-top: 3rem!important;
}

.mt-4, .my-4 {
  margin-top: 2rem!important;
}

.px-1 {
  padding-left: .25rem!important;
}


.p-2 {
  padding: .5rem!important;
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}

.mt-2, .my-2 {
  margin-top: .5rem!important;
}

.mt-0, .my-0 {
  margin-top: 0rem!important;
}

.mb-0, .my-0 {
  margin-bottom: 0rem!important;
}

.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}

.pt-2, .py-2 {
  padding-top: .5rem!important;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem!important;
}

.pb-6, .py-6 {
  padding-bottom: 2rem!important;
}

.pr-3, .px-3 {
  padding-right: 1rem!important;
}

.pl-3, .px-3 {
  padding-left: 1rem!important;
}

.pr-4, .px-4 {
  padding-right: 1.5rem!important;
}

.pl-4, .px-4 {
  padding-left: 1.5rem!important;
}


.pr-5, .px-5 {
  padding-right: 2rem!important;
}

.pl-5, .px-5 {
  padding-left: 2rem!important;
}

.pl-2, .px-2 {
  padding-left: 0.5rem!important;
}

.pr-2, .px-2 {
  padding-right: 0.5rem!important;
}

.mr-3, .mx-3 {
  margin-right: 1rem!important;
}

.mt-7 {
  margin-top: 70px;
}

.mt-6 {
  margin-top: 60px !important;
}

.mb-7 {
  margin-bottom: 70px;
}

.ml-3, .mx-3 {
  margin-left: 1rem!important;
}

.ml-1, .mx-1 {
  margin-left: .25rem!important;
}

.mr-1, .mx-1 {
  margin-right: .25rem!important;
}

.ml-2, .mx-2 {
  margin-left: .50rem!important;
}

.mr-2, .mx-2 {
  margin-right: .50rem!important;
}

.ml-0, .mx-0 {
  margin-left: 0!important;
}

.mr-0, .mx-0 {
  margin-right: 0!important;
}

.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}

.bg-white {
  background-color: #fff!important;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.pt-2, .py-2 {
  padding-top: .5rem!important;
}

.w-75 {
  width: 75%!important;
}

.w-100 {
  width: 100%!important;
}

.w-50 {
  width: 50%!important;
}

.h-100 {
  height: 100%!important;
}

.h-75 {
   height: 75%!important;
}

.h-50 {
   height: 50%!important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon-font {
  font-size: 40px!important;
  cursor: pointer !important;
}

.icon-font-small {
  font-size: 25px!important;
  cursor: pointer !important;
}

.rounded {
  border-radius: .25rem!important;
}
.bordered {
  border: 1px solid #dee2e6!important;
}

.bordered-sm {
  border: 0.5px solid #dee2e6!important;
}

.activeBorder{
  border: 1px solid #DAAB59!important;
}

.activeColor{
  color: #DAAB59 !important;
}

.borderRadius10 {
  border-radius: 10px;
}
.borderRadius5 {
  border-radius: 5px;
}

.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-dark {
  color: #333333 !important;
}

.font-weight-bold {
  font-weight: 700!important;
}

.font-weight-light {
  font-weight: 300!important;
}

.text-capitalize {
  text-transform: capitalize!important;
}

.text-center {
  text-align: center!important;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.d-block {
  display: block!important;
}

.img100 {
  width: 100%;
}

.deleteIcon {
  width: 60px;
  height: 60px;
  color: #333333;
  font-size: 12px;
  line-height: 12px;
}
.deleteIcon2 {
  flex: 1;
  width: 50px;
  height: 50px;
  color: #333333;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
}
.textItem {
  flex: 1;
  width: 60px;
  height: 30px;
  color: #333333;
  font-size: 15px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.specialDelete {
  flex: 1;
  width: 50px;
  height: 40px;
  color: #333333;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin: auto 0px;
}

.darkHeader{
  color: #333333;
  font-weight: 700 !important;
  font-size: 22px;
  text-align: center;
  margin: 20px auto !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.capitalization {
  text-transform: none !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #daab59 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #daab59 !important;
}

.MuiPaper-elevation1 {
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54) !important;
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54) !important;
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54) !important;
}
.marginCenter {
  margin-left: auto;
  margin-right: auto;
}
.boxDefault {
  margin: 10px auto;
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  min-height: 50px;
  width: 95%;
  border-radius: 5px;
}

button.Mui-disabled {
    border: 1px solid #d8c29c !important;
    background-color: #d8c29c !important;
    color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: all;
}
.cardDefault {
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  max-height: 150px;
  border-radius: 5px;
  margin-bottom: 0px;
}

.MuiPaper-elevation1 {
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.15) !important;
}

.MuiStepLabel-label.MuiStepLabel-active, .MuiStepLabel-label.MuiStepLabel-completed {
  color: #DAAB59 !important;
}

.MuiOutlinedInput-root .Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border-color: #daab59 !important;
  }
}

.MuiOutlinedInput-root .Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border-color: #daab59 !important;
  }
}

.MuiFormGroup-root {
  flex-direction: unset !important;
}


.sharpBorderRadius{
  .MuiBox-root{
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
  }
}

/*overflow scroll x*/
.scrollWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  padding-bottom: 10px;
  padding-right: 5px;

  span {
    flex: 0 0 auto;
    padding: 8px 10px;
    margin: 1px 2px;
    border-radius: 20px;
  }


}
.scrollWrapper::-webkit-scrollbar{
  display: none;
}

.search-box {
  border-radius: 15px;
}

/*Overlay css*/
.react-confirm-alert {
  width: 90% !important;
  margin: 0 auto !important;
}

.react-confirm-alert-body {
  max-width: 90% !important;
  text-align: center;
  padding: 30px 20px !important;
}

.react-confirm-alert-button-group {
  margin: 20px auto !important;
  text-align: center !important;

  button {
    outline: none !important;
    background: #333 !important;
    border: none !important;
    display: inline-block !important;
    padding: 10px 60px !important;
    color: #eee !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    margin: 0 auto !important;
  }
}

.borderSharp {
  color: #333333 !important;
  bottom: 0 !important;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
  min-height: 200px !important;
  position: fixed !important;
  padding: 0px !important;
  margin: 0px !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow1 {
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
}

.shadow2 {
  -webkit-box-shadow: 1px 1px 6px 1px rgba(227,227,227,0.54);
  -moz-box-shadow: 1px 1px 6px 1px rgba(227,227,227,0.54);
  box-shadow: 1px 1px 6px 1px rgba(227,227,227,0.54);
}

.shadow-ng {
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
}

.imageProduct{
  width: 150px !important;
  height: 150px !important;
  margin: 0 auto !important;
}
.m-auto {
  margin: auto!important;
}
.text-white {
  color: #fff!important;
}

.italize{
  font-style: italic;
}

.newBox {
  .MuiBox-root{
    border-radius: 60px 60px 0px 0 !important;
  }
}

.back-icon {
  top: 10px;
  left: 20px;
  position: absolute;
  color: #333;
  font-weight: 700;
}

.cart-icon {
  top: 10px;
  right: 20px;
  position: absolute;
  color: #333;
  font-weight: 700;
}

.MuiStepper-root {
  padding: 24px 24px 5px !important;
}

.react-tel-input .form-control+div:before {
  content: '' !important;
  position: absolute;
  top: -7px;
  left: 19px;
  display: block;
  background: white;
  padding: 0 5px;
  font-size: 13px;
  width: 70px;
}

.react-tel-input .selected-flag {
  position: relative;
  width: 52px;
  height: 100%;
  padding: 0 0 0 25px !important;
  border-radius: 3px 0 0 3px;
}

.react-tel-input .form-control {
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  width: 267px !important;
  outline: none;
  padding: 18.5px 14px 18.5px 58px;
  transition: box-shadow ease .25s,border-color ease .25s;
}

.MuiToolbar-gutters {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.MuiIconButton-root {
  padding: 8px !important;
}

.rightMenuIcons {
  .MuiIconButton-root{
    padding: 12px 5px;
  }
}

.MuiGrid-root .cardDefault {
  padding: 5px !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #daab59 !important;
}

.MuiAppBar-colorDefault {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff !important;
}

.icon-color{
  color: #333232;
}

.activeButton{
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 10px;
  border: 1px solid #DAAB59;
  text-transform: none;
  background-color: #DAAB59;
  width: 100%;
}

.inactiveButton{
  border: 1px solid #DAAB59;
  color: #DAAB59;
  padding: 5px 10px;
  font-size: 10px;
  background-color: #FFFFFF;
  text-transform: none;
  width: 100%;
}
