body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img100 {
  width: 100%;
}

.darkHeader{
  color: #333333;
  font-weight: 700 !important;
  font-size: 22px;
  text-align: center;
  margin: 20px auto !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.capitalization {
  text-transform: none !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #daab59 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #daab59 !important;
}
.shadow1 {
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
}
.MuiPaper-elevation1 {
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54) !important;
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54) !important;
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54) !important;
}
.marginCenter {
  margin-left: auto;
  margin-right: auto;
}
.boxDefault {
  margin: 10px auto;
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  min-height: 150px;
  width: 95%;
  border-radius: 5px;
}

.cardDefault {
  -webkit-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  -moz-box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  box-shadow: 1px 1px 6px 3px rgba(227,227,227,0.54);
  max-height: 150px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.MuiStepLabel-label.MuiStepLabel-active, .MuiStepLabel-label.MuiStepLabel-completed {
  color: #DAAB59 !important;
}

.MuiOutlinedInput-root .Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border-color: #daab59 !important;
  }
}

.MuiFormGroup-root {
  flex-direction: unset !important;
}

/*overflow scroll x*/
.scrollWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;

  span {
    flex: 0 0 auto;
    padding: 8px 10px;
    margin: 1px 2px;
    border-radius: 20px;
  }


}
.scrollWrapper::-webkit-scrollbar{
  display: none;
}

